.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 100%;
    height: auto;
    border-top: dashed;
    border-color: black;
    background-color: #6A8D92;
}

#github-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.project-list li {
    text-align: left;
    margin-left: 25%;
}

@media(max-width: 500px) {
    .project {
        margin-bottom: 30px;
    }

    .project-list li {
        margin-left: 2.5%;
    }
}