.skills-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 200px);
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.top {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    margin-top: 5%;
}

.top img {
    max-width: 135px;
    min-height: 135px;
    height: auto;
    width: auto;
}

.bottom {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    margin-top: 5%;
}

.bottom img {
    max-width: 135px;
    height: 135px;
    width: auto;
}